<p><u> Latin Name </u></p>
<p class="font_large"> <%= @latin_name_sample %> </p>
<form action="/dalle" method="post">
  <button class="font" type="submit">Hint: See a Picture by Dall-E</button>
</form>
<br><br>
<div><b><a class="search" href="/">New Latin Name</a></b></div>
